# Arquivos compilados do Java e Maven
target/
*.class
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Arquivos do Eclipse
.classpath
.project
.settings/
.metadata/

# Arquivos do VS Code
.vscode/

# Arquivos de log e temporários
*.log
*.tmp
*.swp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db